aa {
    background-color:  'gray';
    border: '1px solid blue';
    height: '40px';
    width :'40px';
}

bb {
    background-color: blanchedalmond;
    border: 2px dotted lightblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}