#topHolder{
    border: 1px solid black;
    height: 20%;
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.leftHolder {
   border: 1px solid black;
   width: 70%;
   padding: 5px;
   left: 0px;
}

.rightHolder{
   border: 1px solid black;
   width: 70%;
   padding: 5px;
   left: 0px;
   overflow-x: visible;
   border-to
}
#etchASketchHolder {
    background-color:  'gray';
    border: '1px solid blue';
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    height: 40%;
    padding: 20px;
    left: auto;
    justify-content: center;
}

.block {
    width: 40px;
    height: 40px;
    border: 1px solid red;
}